@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bg-wrapper {
    position: fixed;
    inset: 0;
    z-index: -1;
    overflow: hidden;
}

.bg-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-wrapper img {
    image-rendering: auto;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
    background: #0c0b09;
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 70px;
  z-index: 10000;
  display: fixed;
  align-items: center;
}

/* NAVBAR */
.navbar {
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 64px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 1000;

}

.navbar .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navbar .btnLogin-popup:hover {
background: #fff;
color: #162938;
}


.logo {
    color: #ffd700;
    font-weight: bold;
    font-size: 20px;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu li {
    position: relative;
}

.menu a {
    display: block;
    padding: 18px 22px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}

.menu a:hover {
    color: #ffd700;
}
/* dropdown container */
.dropdown {
    position: relative;
}

/* dropdown box */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border-radius: 10px;
    min-width: 180px;
    padding: 8px 0;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);

    /* animation */
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    transition: 0.25s ease;
    z-index: 9999;
}

/* show on hover */
.dropdown:hover .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* item chung */
.dropdown-menu a {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
}

/* item thường */
.item-normal {
    color: #333;
}

/* item nổi bật (màu cam/vàng) */
.item-highlight {
    color: #e0a44c;
}

/* hover effect */
.dropdown-menu a:hover {
    background: #f5f5f5;
}

/* POPUP BOX */
.wrapper {
    position: fixed;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    top: 30%;
    left: 41%;
    transition: transform .3s ease, height .2s ease;
    z-index: 100;
}

.wrapper h2 {
  color: #ffb3d9;
  text-shadow:
    0 0 10px rgba(255, 90, 160, 0.8);
}



.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}


.form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2 {
    font-size: 2em;
    color: #FFE4E1;
    text-align: center;
}

/* FORM ANIMATION */
.form-box.login {
    transform: translateX(0);
    transition: .18s ease;
}

.wrapper.active .form-box.login {
    transform: translateX(-400px);
    transition: none;
}

.form-box.register {
    position: absolute;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transform: translateX(0);
    transition: .18s ease;
}

/* INPUT */
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #8B658B;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: 5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    top: 12px;
    font-size: 1.2em;
}

/* OTHER */
.remember-forgot {
    font-size: .9em;
    color: black;
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}

.btn {
    width: 100%;
    height: 45px;
    background: #FFE4E1; /* FIXED */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}

.login-register {
    text-align: center;
    margin: 10px 0 8px;
}

.login-register a {
    text-decoration: none;
    font-weight: 600;
}

.login-register a:hover {
    text-decoration: underline;
}


