    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    body {
      padding-top: 70px;
    }


    .bg-wrapper {
        position: fixed;
        inset: 0;
        z-index: -1;
        overflow: hidden;
    }

    .bg-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .bg-wrapper img {
        image-rendering: auto;
    }

    html, body {
      width: 100%;
      overflow-x: hidden;
    }

    body {
        background: #0c0b09;
        color: #fff;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        image-rendering: auto;
    }

    header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 70px;
      z-index: 10000;
      display: fixed;
      align-items: center;
    }


    /* NAVBAR */
    .navbar {
        padding: 15px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        width: 100%;
        min-height: 64px;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        z-index: 1000;

    }

    .navbar .btnLogin-popup {
        width: 130px;
        height: 50px;
        background: transparent;
        border: 2px solid #fff;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1.1em;
        color: #fff;
        font-weight: 500;
        margin-left: 40px;
        transition: .5s;
    }

    .navbar .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
    }

    .logo {
        color: #ffd700;
        font-weight: bold;
        font-size: 20px;
    }

    .menu {
        list-style: none;
        display: flex;
        align-items: center;
    }

    .menu li {
        position: relative;
    }

    .menu a {
        display: block;
        padding: 18px 22px;
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        font-size: 20px;
        color: #fff;
    }

    .menu a:hover {
        color: #ffd700;
    }
    /* dropdown container */
    .dropdown {
        position: relative;
    }

    /* dropdown box */
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        background: #fff;
        border-radius: 10px;
        min-width: 180px;
        padding: 8px 0;
        box-shadow: 0 8px 20px rgba(0,0,0,0.25);

        /* animation */
        opacity: 0;
        transform: translateY(10px);
        pointer-events: none;
        transition: 0.25s ease;
        z-index: 9999;
    }

    /* show on hover */
    .dropdown:hover .dropdown-menu {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    /* item chung */
    .dropdown-menu a {
        display: block;
        padding: 12px 18px;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        color: black;
    }

    /* item thường */
    .item-normal {
        color: #333;
    }

    /* item nổi bật (màu cam/vàng) */
    .item-highlight {
        color: #e0a44c;
    }

    /* hover effect */
    .dropdown-menu a:hover {
        background: #f5f5f5;
    }


    /* NAVBAR */
    .navbar {
        padding: 15px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        width: 100%;
        min-height: 64px;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        z-index: 1000;

    }

    .navbar .btnLogin-popup {
        width: 130px;
        height: 50px;
        background: transparent;
        border: 2px solid #fff;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1.1em;
        color: #fff;
        font-weight: 500;
        margin-left: 40px;
        transition: .5s;
    }

    .navbar .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
    }

    .logo {
        color: #ffd700;
        font-weight: bold;
        font-size: 20px;
    }

    .menu {
        list-style: none;
        display: flex;
        align-items: center;
    }

    .menu li {
        position: relative;
    }

    .menu a {
        display: block;
        padding: 18px 22px;
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        font-size: 20px;
        color: #fff;
    }

    .menu a:hover {
        color: #ffd700;
    }
    /* dropdown container */
    .dropdown {
        position: relative;
    }

    /* dropdown box */
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        background: #fff;
        border-radius: 10px;
        min-width: 180px;
        padding: 8px 0;
        box-shadow: 0 8px 20px rgba(0,0,0,0.25);

        /* animation */
        opacity: 0;
        transform: translateY(10px);
        pointer-events: none;
        transition: 0.25s ease;
        z-index: 9999;
    }

    /* show on hover */
    .dropdown:hover .dropdown-menu {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    /* item chung */
    .dropdown-menu a {
        display: block;
        padding: 12px 18px;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        color: black;
    }

    /* item thường */
    .item-normal {
        color: #333;
    }

    /* item nổi bật (màu cam/vàng) */
    .item-highlight {
        color: #e0a44c;
    }

    /* hover effect */
    .dropdown-menu a:hover {
        background: #f5f5f5;
    }


    /* BANNER */
    .banner {
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .banner h1{
        font-size: 48px;
        font-weight: 700;
        color: #ffffff;
        text-shadow:
        0 0 10px rgba(0, 180, 255, 0.8),
        0 0 20px rgba(0, 180, 255, 0.6),
        0 0 40px rgba(0, 180, 255, 0.4);
    }

    .banner p,b {
        font-size: 25px;
        margin: 12px 0 20px;
        color: black;
    }

    .btn {
        background: #ffd700;
        color: #000;
        padding: 12px 26px;
        text-decoration: none;
        border-radius: 30px;
        font-weight: bold;
        font-size: 25px;
    }

    .btn:hover {
        background: #ffea70;
    }

    * {
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }

    body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* KHUNG NGOÀI */
    .nap-wrapper {
        background: #e7dfd2;
        width: 690px;
        padding: 60px;
        border-radius: 12px;

    }

    /* TIÊU ĐỀ */
    .nap-wrapper h2 {
        text-align: center;
        margin-bottom: 25px;
        letter-spacing: 2px;
        color: #6b4e2e;
    }

    .img-fluid {
        width: 100%;
        transform: translateY(-10px);
    }

    /* FORM */
    .nap-gi input, select,
    .nap-gi textarea {
        width: 100%;
        padding: 17px;
        margin-bottom: 14px;
        border-radius: 7px;
        border: none;
        outline: none;
        background: #f4f1ec;
        font-size: 14px;
    }

    .nap-gi textarea {
        resize: none;
        height: 80px;
    }

    /* NÚT */
    .nap-gi button {
        width: 180px;
        margin: 20px auto 0;
        display: block;
        padding: 12px;
        border-radius: 25px;
        border: none;
        background: #4caf50;
        color: white;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }

    .nap-gi button:hover {
        background: #43a047;
    }
